body {
	font-family: 'Roboto', sans-serif;
	color: var(--tg-theme-text-color);
	background-color: var(--tg-theme-secondary-bg-color);
	margin: 0;
	padding: 0;
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--tg-theme-header-bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.bouncer {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
}

.bouncer div {
	width: 20px;
	height: 20px;
	background-color: var(--tg-theme-accent-text-color);
	border-radius: 50%;
	animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
}

@keyframes bouncer {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-100px);
	}
}

.bouncer div:nth-of-type(1) {
	opacity: 0.6;
}

.bouncer div:nth-of-type(2) {
	opacity: 0.5;
	animation-delay: 0.1s;
}

.bouncer div:nth-of-type(3) {
	opacity: 0.4;
	animation-delay: 0.2s;
}

.bouncer div:nth-of-type(4) {
	opacity: 0.2;
	animation-delay: 0.3s;
}

.project-filter {
	margin-bottom: 10px;
}

.project-filter div {
	margin: 5px;
	width: 49px;
	padding: 9px 12px;
	border-radius: 100px;
	font-size: 13px;
	justify-content: center;
	color: var(--tg-theme-button-text-color);
	background-color: var(--tg-theme-button-color, #938F99);
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	display: inline-flex;
}

.project-filter div:hover {
	transform: scale(1.02);
}

.project-filter div:active {
	transform: scale(0.95);
}

.modal-project-description {
	height: 180px;
	width: auto;
	margin-top: 3px;
	/* background-color: #474747; */
}

.modal-project-info {
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-project-info-more {
	width: 120px;
	margin: 5px;
	display: flex;
	justify-content: center;
	text-decoration: none;
	padding: 10px 24px;
	border-radius: 100px;
	font-size: 14px;
	color: var(--tg-theme-button-color);
	border: 1px solid var(--tg-theme-button-color, #938F99);
	-webkit-tap-highlight-color: transparent;
	display: inline-flex;
}

.modal-project-info-open {
	width: 120px;
	margin: 5px;
	display: flex;
	justify-content: center;
	text-decoration: none;
	padding: 10px 24px;
	border-radius: 100px;
	font-size: 14px;
	color: var(--tg-theme-button-text-color);
	background-color: var(--tg-theme-button-color, #938F99);
	-webkit-tap-highlight-color: transparent;
	display: inline-flex;
}

.modal-project-youtube {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-project-youtube-open {
	width: 120px;
	margin: 5px;
	display: flex;
	justify-content: center;
	text-decoration: none;
	padding: 10px 24px;
	border-radius: 100px;
	font-size: 14px;
	color: #ffffff;
	background-color: #fd1d1d;
	-webkit-tap-highlight-color: transparent;
	display: inline-flex;
}

.modal-project-social {
	margin-top: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-project-social-telegram,
.modal-project-social-discord,
.modal-project-social-x,
.modal-project-social-web {
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	height: 45px;
	width: 45px;
	border-radius: 100px;
	font-size: 14px;
	-webkit-tap-highlight-color: transparent;
}

.modal-project-social-telegram {
	background-color: #30a3e6;
}

.modal-project-social-discord {
	background-color: #5865f2;
}

.modal-project-social-x {
	background-color: #000000;
}

.modal-project-social-web {
	background-color: #adadad;
}

.icon {
	height: 25px;
	width: auto;
}

.container-menu {
	position: relative;

}

.menu-box {
	display: flex;
	justify-content: space-between;
	position: absolute;
	margin: 0;
	padding: 30px;
	background: #fff;
	box-sizing: border-box;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	list-style: none;
}

.menu-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px 10px;
	border-radius: 16px;
	cursor: pointer;
}

h1 {
	margin: 0;
}

h2 {
	margin: 0;
	padding: 20px;
}

.projects-page,
.play-page,
.study-page,
.tools-page,
.profile-page {
	padding: 15px;
	font-size: 24px;
	text-align: center;
}

.projects-page-background,
.play-page-background,
.study-page-background,
.tools-page-background,
.profile-page-background {
	background-color: var(--tg-theme-bg-color);
	border-radius: 28px;
	padding: 15px;
}

.project-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 20px;
}

.project-grid a {
	-webkit-tap-highlight-color: transparent;
}

.project {
	border: 1px solid var(--tg-theme-accent-text-color, #ccc);
	text-decoration: none;
	display: block;
	padding: 0px;
	border-radius: 28px;
	background-size: cover;
	aspect-ratio: 1 / 1;
}

.project:hover {
	transform: scale(1.02);
}

.project:active {
	transform: scale(0.95);
}

.hide {
	display: none;
}