body {
    font-family: "Roboto", sans-serif;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-header-bg-color);
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.categories {
    font-size: 24px;
    text-align: center;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
    gap: 20px;
}

.category {
    font-size: 24px;
    text-decoration: none;
    color: #f0f0f0;
    display: block;
    padding: 0px;
    border-radius: 20px;
    background-size: cover;
}

.category-backgraund {
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    aspect-ratio: 1 / 1;
}

.category:hover {
    transform: scale(1.02);
}

.category:active {
    transform: scale(0.95);
}

.category h3 {
    display: none;
    margin: 0;
}